# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# DefleMask Specifications
DMF_SPECS.txt

# DMF conversion info
*.dmf2smps-conf

# DMF modules
*.dmf
